@media (min-width: 320px) and (max-width: 576px) {
  .header {
    width: 660px;
  }
  .header-container {
    @include d-flex(center, center, column);
    margin-bottom: $margin-m;
    .navigation {
      width: 650px;
      & a {
        color: black;
        width: 25px;
        & i {
          transition: transform 0.4s;
        }
        & :hover {
          transform: scale(1.4);
        }
      }
    }
  }

  .main {
    width: 660px;
    padding: $padding-xs;

    @include d-flex(center, center, column);
    .main-container {
      @include d-flex(none, center);
      align-content: flex-start;
      flex-wrap: wrap;
      width: 630px;
      height: 2600px;
      .main-personal {
        height: 750px;
        & img,
        .eren,
        .wooman {
          width: 400px;
        }
        & p {
          font-size: 150%;
        }
      }
    }
    .banner {
      & img {
        border-radius: 15px;
      }
    }
    .main-text_content {
      width: auto;
      @include d-flex(center, center);
      & p {
        font-size: 170%;
      }
      .main-text {
        width: 660px;
        padding: $padding-xs;
      }
    }
  }

  .footer {
    width: 660px;
    & p {
      font-size: 140%;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .header {
    width: 660px;
  }
  .header-container {
    @include d-flex(center, center, column);
    margin-bottom: $margin-m;
  }
  .navigation {
    width: 400px;
    & a {
      color: black;
      width: 25px;
      & i {
        transition: transform 0.4s;
      }
      & :hover {
        transform: scale(1.4);
      }
    }
  }

  .main {
    width: auto;
    padding: $padding-xs;

    @include d-flex(center, center, column);
    .main-container {
      @include d-flex(none, center);
      flex-wrap: wrap;
      width: auto;
      height: auto;
    }
    .banner {
      & img {
        border-radius: 15px;
      }
    }
    .main-text_content {
      width: auto;
      @include d-flex(center, center);
      .main-text {
        width: 660px;
        padding: $padding-xs;
      }
    }
  }
  .footer {
    width: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-container {
    @include d-flex(center, center);
    .header-logo img {
      width: 40px;
    }
    .header-logo_title {
      text-align: center;
      width: 210px;
      & img {
        width: 160px;
      }
    }
  }
  .main {
    @include d-flex(center, center);
    flex-direction: column;
    .main-container {
      @include d-flex(space-around, center);
      width: auto;
      height: auto;
      border: 0.5px solid;
      border-radius: 15px;
      margin-bottom: $margin-s;
    }

    .main-text_content {
      width: 660px;
      & p {
        color: white;
        border: 0.5px solid;
        border-radius: 15px;
        padding: $padding-xs;
        margin-top: $margin-s;
        & mark {
          color: red;
        }
      }
    }
  }
}
